<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.persistence.DataAuthorityMapper">

    <select id="getCompanyChildrenIdByCompanyIds" resultType="java.lang.Long">
      select
       ac.id
        from art_company ac
       where ac.parent_company_id in
            <foreach collection="companyIds" item="companyId" open="(" close=")" separator=",">
                #{companyId}
            </foreach>
    </select>

    <select id="getUnitIdByUserId" resultType="java.lang.Long">
      select
         ad.id
        from
         art_department_user adu,
         art_department ad
        WHERE
         exists (
            SELECT 1 FROM art_user au WHERE id = #{userId} and adu.user_id = au.id
         )
        AND adu.department_id = ad.id
        AND ad.status=101
    </select>

    <select id="getUnitChildrenIdByUnitIds" resultType="java.lang.Long">
      select
        ad.id
         from art_department ad
        where ad.parent_id in
        <foreach collection="unitIds" item="unitId" open="(" close=")" separator=",">
            #{unitId}
        </foreach>
    </select>
</mapper>
