<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2018. Shanghai Zhenhui Information Technology Co,. ltd.
  ~ All rights are reserved.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.persistence.FrontKeyMapper">
    <!-- 界面Title同步到传入的language里 -->
    <select id="getListFrontKeysNotInLanguage" resultType="com.hand.hcf.app.base.domain.FrontKey">
        select id,
        module_id,
        key_code,
        lang,
        descriptions,
        version_number,
        deleted,
        enabled
   from sys_front_key k
  where k.lang = 'zh_CN'
    and not exists (select 1
           from sys_front_key sfk
          where sfk.key_code = k.key_code
            and sfk.lang = #{lanugage})
    </select>
    <select id="getFrontKeysByCond" resultType="com.hand.hcf.app.base.domain.FrontKey">
             select id,
                module_id,
                key_code,
                lang,
                descriptions,
                version_number,
                deleted,
                enabled
           from sys_front_key k
            where k.enabled = 1 and k.deleted = 0
            <if test="keyCode != null">
                and k.key_code like concat(concat('%',#{keyCode}),'%')
            </if>
            <if test="descriptions != null">
                and k.descriptions like concat(concat('%',#{descriptions}),'%')
            </if>
            <if test="keyword != null">
                and (k.descriptions like concat(concat('%',#{keyword}),'%') or k.key_code like concat(concat('%',#{keyword}),'%'))
            </if>
            <if test="lang != null">
                and k.lang = #{lang}
            </if>
            <if test="moduleId != null">
                and k.module_id = #{moduleId}
            </if>
          order by key_code
    </select>
</mapper>
