<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.persistence.PasswordHistoryMapper">

    <resultMap id="PasswordHistoryResultMap"
               type="com.hand.hcf.app.base.domain.PasswordHistory">
        <id column="id" property="id"/>
        <result column="user_oid" property="userOID"/>
        <result column="password" property="password"/>
        <result column="created_date" property="createdDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_date" property="lastUpdatedDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
    </resultMap>
    <select id="getPasswordHistoryOrderByCreateDate" resultMap="PasswordHistoryResultMap">
      select * from art_password_history h where h.user_oid=#{userOID} ORDER by h.created_date DESC
    </select>
</mapper>
