<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.persistence.UserDeviceMapper">

    <select id="selectUserDevice" resultType="com.hand.hcf.app.base.domain.UserDevice">
        SELECT
          aud.id,
          aud.user_oid 'userOID',
          aud.device_id 'deviceID',
          aud.vendor_type_id 'vendorTypeID',
          aud.platform_id 'platformID',
          aud.created_date 'createdDate',
          aud.os_version 'osVersion',
          aud.app_version 'appVersion',
          aud.pixel_ratio 'pixelRatio',
          aud.device_brand 'deviceBrand',
          aud.device_model 'deviceModel',
          aud.device_name 'deviceName',
          aud.remark 'remark',
          aud.status 'status',
          (SELECT MAX(aull.created_date)
           FROM art_user_login_log aull
           WHERE aull.device_id = aud.device_id) 'lastLoginDate'
        FROM art_user_device aud
        WHERE aud.user_oid = #{userOid}
        ORDER BY lastLoginDate DESC
    </select>
</mapper>
