<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2018. Shanghai Zhenhui Information Technology Co,. ltd.
  ~ All rights are reserved.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.persistence.UserLoginBindMapper">

    <resultMap id="UserLoginBindResultMap"
               type="com.hand.hcf.app.base.domain.UserLoginBind">
        <id column="id" property="id"/>
        <result column="user_oid" property="userOID"/>
        <result column="login" property="login"/>
        <result column="bind_type" property="bindType"/>
        <result column="created_date" property="createdDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated_date" property="lastModifiedDate"/>
        <result column="last_updated_by" property="lastModifiedBy"/>
    </resultMap>
    <select id="findOneByUserOID" resultMap="UserLoginBindResultMap">
       SELECT
	  u.id,
      u.user_oid,
      u.bind_type,
      u.created_by,
      u.created_date
      FROM
     	art_user_login_bind u
     WHERE
         u.user_oid = #{userOID}
      and u.is_active=1
  and u.is_enabled=1
  and  u.is_deleted=0
    </select>
</mapper>
