<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. Shanghai Zhenhui Information Technology Co,. ltd.
  ~ All rights are reserved.
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helioscloud.atlantis.persistence.UserLockMapper">
    <resultMap id="BaseResultMap" type="com.helioscloud.atlantis.domain.UserLock">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="client_ip" property="clientIp"/>
        <result column="user_agent" property="userAgent"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="locked_date" property="lockedDate"/>
    </resultMap>

    <select id="selectUserLockMap" resultType="java.util.Map">
        SELECT u.id user_id, ul.locked_date locked_date, cs.auto_unlock_duration auto_unlock_duration FROM atl_user_lock ul
        INNER JOIN art_user u ON ul.user_id = u.id
        INNER JOIN art_company c ON u.company_id = c.id
        INNER JOIN art_company_security cs ON cs.company_oid = c.company_oid
        WHERE u.is_deleted = false
        and ul.is_deleted = false
    </select>

    <update id="updateUserLockStatus">
        UPDATE art_user set lock_status = #{lockStatus} ,lock_date_deadline = null ,password_attempt = 0 where id = #{userId}
    </update>

</mapper>
