:global {
  .search-user-team-tree {
    .user-part {
      .user-part-title {
        padding: 6px 0;
        color: #999;
        line-height: 24px;
      }
      .user-list{
        line-height: 28px;
        overflow: hidden;
        .user-title {
          cursor: pointer;
          text-indent: 6px;
          padding: 2px 0;
          height: 28px;
        }
        .user-title:hover{
          background-color: rgb(186,231,255);
        }
        .title-selected-active{
          background-color: rgb(186,231,255);
        }
      }
    }
    .work-team-part {
      .work-team-part-title {
        padding: 6px 0;
        color: #999;
        line-height: 24px;
      }
      .work-team-list {
        line-height: 28px;
        overflow: hidden;
        .team-title {
          cursor: pointer;
          text-indent: 20px;
          padding: 2px 0;
          height: 28px;
        }
        .team-title:hover{
          background-color: rgb(186,231,255);
        }
        .title-selected-active{
          background-color: rgb(186,231,255);
        }
      }
    }
  }
}
