<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.mdata.dimension.persistence.DimensionMapper">

    <resultMap id="DimensionResultMap" type="com.hand.hcf.app.mdata.dimension.domain.Dimension">

    </resultMap>

    <select id="listDimensionsByCompanyId" resultType="com.hand.hcf.app.mdata.dimension.domain.Dimension">
        select d.*
        from SYS_DIMENSION d
            join SYS_DIMENSION_ITEM di on d.ID = di.DIMENSION_ID
            join SYS_DIMENSION_ITEM_ASS_COM diac on di.ID = diac.DIMENSION_ITEM_ID
        where d.ENABLED = 1
            and di.ENABLED = 1
            and d.DELETED = 0
            and di.DELETED = 0
            and d.SET_OF_BOOKS_ID = #{setOfBooksId}
            and diac.COMPANY_ID = #{companyId}
            <if test="enabled != null">
                and diac.enabled = #{enabled}
            </if>
    </select>

    <select id="listDimensionsByParameterCode" resultType="com.hand.hcf.app.mdata.dimension.domain.Dimension">
        select d.*
        from sys_parameter p,
         sys_parameter_setting s ,
         sys_parameter_values v,
         SYS_DIMENSION d
        where p.parameter_code =  #{parameterCode}
        and p.id = s.parameter_id
        and s.parameter_level = 2002
        and s.set_of_books_id = #{setOfBooksId}
        and s.parameter_value_id = v.id
        and v.parameter_value_code = concat(d.dimension_sequence,'')
        and d.ENABLED = 1
        and d.set_of_books_id = #{setOfBooksId}
    </select>

</mapper>
