<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.mdata.dimension.persistence.DimensionItemMapper">

    <resultMap id="DimensionItemResultMap" type="com.hand.hcf.app.mdata.dimension.domain.DimensionItem">

    </resultMap>

    <select id="pageDimensionItemsByDimensionIdEnabledCompanyId" resultType="com.hand.hcf.app.mdata.dimension.domain.DimensionItem">
        select *
        from SYS_DIMENSION_ITEM d
        where d.DIMENSION_ID = #{dimensionId}
        and d.ENABLED = #{enabled}
        and d.DELETED = 0
        and exists (select 1
          from SYS_DIMENSION_ITEM_ASS_COM dac
          where dac.COMPANY_ID = #{companyId}
          and dac.DIMENSION_ITEM_ID = d.id)
    </select>

    <select id="listDimensionsByContactId" resultType="com.hand.hcf.app.mdata.dimension.domain.DimensionItem">
        select di.*
        from  SYS_DIMENSION_ITEM di
        join sys_dimension_item_ass_emp diae on di.ID = diae.DIMENSION_ITEM_ID
        where  di.ENABLED = 1
        and di.DELETED = 0
        and di.visible_user_scope = 1004
        and diae.contact_id = #{contactId}
    </select>


</mapper>
