<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.workflow.persistence.ApprovalChainMapper">

    <select id="getApprovalChainByRefId" parameterType="long"  resultType="com.hand.hcf.app.workflow.dto.ApprovalChainDTO">
        SELECT
        ac.*
        FROM sys_approval_chain ac
        WHERE ac.id = #{refApprovalChainId}
    </select>

    <update id="updateAllFinshTrueById" parameterType="long" >
        update
        sys_approval_chain
        set
        all_finished = true
        where
        id = #{approvalChainId};
    </update>

    <select id="getApprovalChainById" parameterType="long" resultType="com.hand.hcf.app.workflow.domain.ApprovalChain">
        SELECT
        *
        FROM sys_approval_chain
        where
        id = #{approvalChainId};
    </select>

    <select id="listApprovalNodeByBack" resultType="com.hand.hcf.app.workflow.dto.ApprovalNodeDTO">
        select an.* from SYS_RULE_APPROVAL_NODE  an where
        exists (
        select 1
        from SYS_APPROVAL_CHAIN c,
        SYS_RULE_APPROVAL_NODE n
        where c.RULE_APPROVAL_NODE_OID = n.RULE_APPROVAL_NODE_OID
        and n.RULE_APPROVAL_CHAIN_OID=an.RULE_APPROVAL_CHAIN_OID
        and an.SEQUENCE_NUMBER <![CDATA[ <= ]]> n.SEQUENCE_NUMBER
        and c.ENTITY_TYPE = #{entityType}
        and c.ENTITY_OID = #{entityOid} ) order by SEQUENCE_NUMBER
    </select>



</mapper>
