<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.workflow.persistence.ApprovalChainMapper">

    <select id="getApprovalChainByRefId" parameterType="long"  resultType="com.hand.hcf.app.workflow.dto.ApprovalChainDTO">
        SELECT
        ac.*
        FROM sys_approval_chain ac
        WHERE ac.id = #{refApprovalChainId}
    </select>

    <update id="updateAllFinshTrueById" parameterType="long" >
        update
        sys_approval_chain
        set
        all_finished = true
        where
        id = #{approvalChainId};
    </update>

    <select id="getApprovalChainById" parameterType="long" resultType="com.hand.hcf.app.workflow.domain.ApprovalChain">
        SELECT
        *
        FROM sys_approval_chain
        where
        id = #{approvalChainId};
    </select>

    <select id="listWaitActiveApprovalChain" resultType="com.hand.hcf.app.workflow.domain.ApprovalChain">
        SELECT *
        FROM sys_approval_chain ac
        WHERE 1 = 1
        AND ((ac.source_approval_chain_id = #{sourceApprovalChainId} and ac.add_sign = 1)
        OR ac.id = #{sourceApprovalChainId})
        AND ac.sequence_number = #{sequenceNumber}
        AND ac.finish_flag = false
        AND ac.current_flag = false
        AND ac.status = 1000
        AND ac.entity_oid = #{entityOid}
        AND ac.entity_type = #{entityType}
    </select>

</mapper>
