<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.workflow.persistence.QuickReplyMapper" >

    <!--<resultMap id="QuickReplyResultMap" type="com.hand.hcf.app.workflow.domain.QuickReply">
        <id column="id" property="id"/>
        <result column="quick_reply_oid" property="quickReplyOid"/>
        <result column="user_oid" property="userOid"/>
        <result column="reply" property="reply"/>
        <result column="status" property="status"/>
        <result column="sequence_number" property="sequenceNumber"/>
    </resultMap>-->

    <select id="findByUserOid" resultType="com.hand.hcf.app.workflow.domain.QuickReply">
        SELECT * FROM sys_quick_reply WHERE user_oid = #{userOid} ORDER BY sequence_number ASC
    </select>

    <delete id="deleteByUserOid">
        DELETE FROM sys_quick_reply WHERE user_oid = #{userOid}
    </delete>

    <delete id="deleteByQuickReplyOids">
        DELETE FROM sys_quick_reply
        WHERE
        quick_reply_oid IN
        <foreach collection="quickReplyOids" item="quickReplyOid" index="index" open="(" separator="," close=")">
            #{quickReplyOid}
        </foreach>
    </delete>

</mapper>
