<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.workflow.persistence.QuickReplyMapper" >



    <select id="findByUserOid" resultType="com.hand.hcf.app.workflow.domain.QuickReply">
        SELECT * FROM sys_quick_reply WHERE user_oid = #{userOid} ORDER BY sequence_number ASC
    </select>

    <delete id="deleteByUserOid">
        DELETE FROM sys_quick_reply WHERE user_oid = #{userOid}
    </delete>

    <delete id="deleteByQuickReplyOids">
        DELETE FROM sys_quick_reply
        WHERE
        quick_reply_oid IN
        <foreach collection="quickReplyOids" item="quickReplyOid" index="index" open="(" separator="," close=")">
            #{quickReplyOid}
        </foreach>
    </delete>

</mapper>
