<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hcf.app.workflow.persistence.WorkFlowDocumentRefMapper">

    <select id="getApprovalListDashboard" resultType="com.hand.hcf.app.workflow.dto.ApprovalDashboardDetailDTO">
        SELECT dr.document_category type, count(1) count
        FROM sys_wfl_document_ref dr
        WHERE EXISTS (
            SELECT 1 FROM sys_approval_chain ac
            WHERE ac.approver_oid = #{userOid}
            AND ac.status = 1000
            AND ac.current_flag = 1
            AND ac.entity_oid = dr.document_oid
            AND ac.entity_type = dr.document_category
        ) GROUP BY dr.document_category
    </select>

    <!-- 查询未审批/已审批的单据 -->
    <select id="listApprovalDocument" resultType="com.hand.hcf.app.workflow.domain.WorkFlowDocumentRef">
        SELECT dr.*
        FROM sys_wfl_document_ref dr
        WHERE EXISTS (
          SELECT 1
          FROM sys_approval_chain ac
          WHERE ac.status = 1000
          <!-- 已审批 -->
          <if test="approved == true">
          AND ac.finish_flag = 1
          </if>
          <!-- 未审批 -->
          <if test="approved == false">
          AND ac.current_flag = 1
          </if>
          <!-- 审批人 -->
          <if test="approverOid != null">
          AND ac.approver_oid = #{approverOid}
          </if>
          AND ac.entity_oid = dr.document_oid
          AND ac.entity_type = dr.document_category
        )
        <!-- 提交日期 -->
        <if test="startDate != null">
        AND dr.submit_date >= #{startDate}
        </if>
        <!-- 提交日期 -->
        <if test="endDate != null">
        <![CDATA[ AND dr.submit_date < #{endDate} ]]>
        </if>
        <!-- 单据类别 -->
        <if test="documentCategory != null">
        AND dr.document_category = #{documentCategory}
        </if>
    </select>

    <!-- 查询未审批/已审批的单据 -->
    <select id="pageApprovalDocument" resultType="com.hand.hcf.app.workflow.domain.WorkFlowDocumentRef">
        SELECT dr.*
        FROM sys_wfl_document_ref dr
        WHERE EXISTS (
        SELECT 1
        FROM sys_approval_chain ac
        WHERE ac.status = 1000
        <!-- 已审批 -->
        <if test="approved == true">
            AND ac.finish_flag = 1
        </if>
        <!-- 未审批 -->
        <if test="approved == false">
            AND ac.current_flag = 1
        </if>
        <!-- 审批人 -->
        <if test="approverOid != null">
            AND ac.approver_oid = #{approverOid}
        </if>
        AND ac.entity_oid = dr.document_oid
        AND ac.entity_type = dr.document_category
        )
        <!-- 备注 -->
        <if test="description != null">
            AND dr.remark like #{description}
        </if>
        <!-- -最小金额 -->
        <if test="amountFrom != null">
            AND dr.amount >= #{amountFrom}
        </if>
        <!-- 最大金额 -->
        <if test="amountTo != null">
            <![CDATA[ AND dr.amount <= #{amountTo} ]]>
        </if>
        <!-- 币种 -->
        <if test="currencyCode != null">
            AND dr.currency_code = #{currencyCode}
        </if>
        <!-- 申请人 -->
        <if test="applicantOid != null">
            AND dr.applicant_oid = #{applicantOid}
        </if>
        <!-- 单据名称 -->
        <if test="documentName != null">
            AND dr.contract_name like #{documentName}
        </if>
        <!-- 单据编号 -->
        <if test="documentNumber != null">
            AND dr.document_number like #{documentNumber}
        </if>
        <!-- 单据类型 -->
        <if test="documentTypeId != null">
            AND dr.document_type_id = #{documentTypeId}
        </if>
        <!-- 最小提交日期 -->
        <if test="startDate != null">
            AND dr.submit_date >= #{startDate}
        </if>
        <!-- 最大提交日期 -->
        <if test="endDate != null">
            <![CDATA[ AND dr.submit_date < #{endDate} ]]>
        </if>
        <!-- 最小申请日期 -->
        <if test="applicantDateFrom != null">
            AND dr.applicant_date >= #{applicantDateFrom}
        </if>
        <!-- 最大提交日期 -->
        <if test="applicantDateTo != null">
            <![CDATA[ AND dr.applicant_date < #{applicantDateTo} ]]>
        </if>
        <!-- 单据类别 -->
        <if test="documentCategory != null">
            AND dr.document_category = #{documentCategory}
        </if>
        <!-- 已审批 -->
        <if test="approved == true">
            ORDER BY dr.document_number DESC
        </if>
        <!-- 未审批 -->
        <if test="approved == false">
            ORDER BY dr.submit_date ASC, dr.document_number DESC
        </if>
    </select>

    <!-- 待办事项-待审批单据-单据列表 -->
    <select id="getApprovalToPendDeatil" resultType="com.hand.hcf.app.workflow.domain.WorkFlowDocumentRef">
        SELECT DISTINCT dr.*
        FROM sys_wfl_document_ref dr
        WHERE EXISTS (
        SELECT 1
        FROM sys_approval_chain ac
        WHERE ac.status = 1000
        AND ac.current_flag = 1
        <!-- 审批人 -->
        AND ac.approver_oid = #{userOid}
        AND ac.entity_oid = dr.document_oid
        AND ac.entity_type = dr.document_category
        )
        <!-- 单据大类 -->
        <if test="documentCategory != null">
            AND dr.document_category = #{documentCategory}
        </if>
        <!-- 单据类型 -->
        <if test="documentTypeId != null">
            AND dr.document_type_id = #{documentTypeId}
        </if>
        <!-- 申请人 -->
        <if test="applicantName != null and applicantName != ''">
            AND dr.applicant_name LIKE #{applicantName}
        </if>
        <!-- 最小提交日期 -->
        <if test="beginDate != null">
            AND dr.submit_date >= #{beginDate}
        </if>
        <!-- 最大提交日期 -->
        <if test="endDate != null">
            <![CDATA[ AND dr.submit_date < #{endDate} ]]>
        </if>
        <!-- -最小金额 -->
        <if test="amountFrom != null">
            AND dr.function_amount >= #{amountFrom}
        </if>
        <!-- 最大金额 -->
        <if test="amountTo != null">
            <![CDATA[ AND dr.function_amount <= #{amountTo} ]]>
        </if>
        <!-- 备注 -->
        <if test="remark != null and remark != ''">
            AND dr.remark like #{remark}
        </if>
        <!-- 单据编号 -->
        <if test="documentNumber != null and documentNumber != ''">
            AND dr.document_number like #{documentNumber}
        </if>
        ORDER BY dr.applicant_date ASC
    </select>

    <!-- 待办事项-待审批单据-分类信息 -->
    <select id="getApprovalToPendTotal" resultType="com.hand.hcf.app.workflow.dto.ApprovalDashboardDetailDTO">
        SELECT DISTINCT dr.document_category type, count(dr.ID) count
        FROM sys_wfl_document_ref dr
        WHERE EXISTS (
        SELECT 1
        FROM sys_approval_chain ac
        WHERE ac.status = 1000
        AND ac.current_flag = 1
        <!-- 审批人 -->
        AND ac.approver_oid = #{userOid}
        AND ac.entity_oid = dr.document_oid
        AND ac.entity_type = dr.document_category
        )
        <!-- 单据大类 -->
        <if test="documentCategory != null">
            AND dr.document_category = #{documentCategory}
        </if>
        <!-- 单据类型 -->
        <if test="documentTypeId != null">
            AND dr.document_type_id = #{documentTypeId}
        </if>
        <!-- 申请人 -->
        <if test="applicantName != null and applicantName != ''">
            AND dr.applicant_name LIKE #{applicantName}
        </if>
        <!-- 最小提交日期 -->
        <if test="beginDate != null">
            AND dr.submit_date >= #{beginDate}
        </if>
        <!-- 最大提交日期 -->
        <if test="endDate != null">
            <![CDATA[ AND dr.submit_date < #{endDate} ]]>
        </if>
        <!-- -最小金额 -->
        <if test="amountFrom != null">
            AND dr.function_amount >= #{amountFrom}
        </if>
        <!-- 最大金额 -->
        <if test="amountTo != null">
            <![CDATA[ AND dr.function_amount <= #{amountTo} ]]>
        </if>
        <!-- 备注 -->
        <if test="remark != null and remark != ''">
            AND dr.remark like #{remark}
        </if>
        <!-- 单据编号 -->
        <if test="documentNumber != null and documentNumber != ''">
            AND dr.document_number like #{documentNumber}
        </if>
        GROUP BY dr.document_category
    </select>

    <!-- 待办事项-被退回单据/未完成单据 -->
    <select id="getRejectORUnFinishedList" resultType="com.hand.hcf.app.workflow.domain.WorkFlowDocumentRef">
        SELECT DISTINCT dr.*
        FROM sys_approval_chain ac, sys_wfl_document_ref dr
        WHERE ac.entity_oid = dr.document_oid
        AND ac.entity_type = dr.document_category
        <!-- tabNumber=1(被退回的单据) tabNumber=2(未完成的单据) -->
        <choose>
            <when test="tabNumber == 1">
                  AND dr.status = 1005
                  AND ac.status = 1001
                  AND ac.current_flag = 0
                  AND ac.finish_flag = 1
                  AND ac.all_finished = 0
            </when>
            <when test="tabNumber == 2">
                AND dr.status = 1002
                AND ac.status = 1000
                AND ac.current_flag = 1
                AND ac.finish_flag = 0
                AND ac.all_finished = 0
            </when>
        </choose>
        <!-- 申请人 -->
        AND dr.applicant_oid = #{workFlowDocumentRefDTO.applicantOid}
        <!-- 当前审批人 -->
        <if test="workFlowDocumentRefDTO.approverOid != null">
            AND  ac.approver_oid = #{workFlowDocumentRefDTO.approverOid}
        </if>
        <!-- 单据大类 -->
        <if test="workFlowDocumentRefDTO.documentCategory != null">
            AND dr.document_category = #{workFlowDocumentRefDTO.documentCategory}
        </if>
        <!-- 单据类型 -->
        <if test="workFlowDocumentRefDTO.documentTypeId != null">
            AND dr.document_type_id = #{workFlowDocumentRefDTO.documentTypeId}
        </if>
        <!-- 申请人 -->
        <if test="workFlowDocumentRefDTO.applicantName != null and workFlowDocumentRefDTO.applicantName != ''">
            AND dr.applicant_name LIKE #{workFlowDocumentRefDTO.applicantName}
        </if>
        <!-- 最小提交日期 -->
        <if test="beginDate != null">
            AND dr.submit_date >= #{beginDate}
        </if>
        <!-- 最大提交日期 -->
        <if test="endDate != null">
            <![CDATA[ AND dr.submit_date < #{endDate} ]]>
        </if>
        <!-- -最小金额 -->
        <if test="amountFrom != null">
            AND dr.function_amount >= #{amountFrom}
        </if>
        <!-- 最大金额 -->
        <if test="amountTo != null">
            <![CDATA[ AND dr.function_amount <= #{amountTo} ]]>
        </if>
        <!-- 审批节点名称 -->
        <if test="workFlowDocumentRefDTO.nodeName != null and workFlowDocumentRefDTO.nodeName != ''">
            AND dr.approval_node_name like #{workFlowDocumentRefDTO.nodeName}
        </if>
        <!-- 备注 -->
        <if test="workFlowDocumentRefDTO.remark != null and workFlowDocumentRefDTO.remark != ''">
            AND dr.remark like #{workFlowDocumentRefDTO.remark}
        </if>
        <!-- 单据编号 -->
        <if test="workFlowDocumentRefDTO.documentNumber != null and workFlowDocumentRefDTO.documentNumber != ''">
            AND dr.document_number like #{workFlowDocumentRefDTO.documentNumber}
        </if>
        <!-- 排序 -->
        <choose>
            <when test="tabNumber == 1">
                  ORDER BY dr.last_updated_date
            </when>
            <when test="tabNumber == 2">
                  ORDER BY dr.document_number
            </when>
        </choose>
    </select>

    <select id="pageWorkflowMonitorByCond" parameterType="java.util.Map"  resultType="com.hand.hcf.app.workflow.domain.WorkFlowDocumentRef">
        SELECT dr.*
        FROM
        sys_wfl_document_ref dr
        WHERE 1=1
        <!-- 账套 -->
        <if test="booksID != null">
            AND dr.set_of_books_id = #{booksID}
        </if>
        <!-- 单据大类 -->
        <if test="documentCategory != null">
            AND dr.document_category = #{documentCategory}
        </if>
        <!-- 创建人 -->
        <if test="createdBy != null">
            AND dr.CREATED_BY = #{createdBy}
        </if>
        <!-- 单据状态 -->
        <if test="status != null">
            AND dr.status = #{status}
        </if>
        <!-- 单据编号 -->
        <if test="documentNumber != null">
            AND dr.document_number = #{documentNumber}
        </if>
        <!-- 申请日期到 -->
        <if test="startDate != null">
            <![CDATA[ AND dr.applicant_date >= #{startDate} ]]>
        </if>
        <!-- 申请日期至 -->
        <if test="endDate != null">
            <![CDATA[ AND dr.applicant_date < #{endDate} ]]>
        </if>
        <!-- 审批人 -->
        <if test="lastApproverOid != null">
            AND  exists (select 1 from sys_approval_chain ac where ac.approver_oid =#{lastApproverOid}
            AND ac.entity_oid = dr.document_oid
            AND ac.entity_type = dr.document_category
            )
        </if>
        <!-- 审批流名称 -->
        <if test="formName != null">
            AND
            exists (select 1 from sys_approval_form af where af.form_name like #{formName} and af.FORM_OID = dr.FORM_OID )
        </if>
    </select>
</mapper>
