<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.expense.report.persistence.ExpenseReportHeaderMapper">

    <select id="queryReportHeaderByids" resultType="com.hand.hcf.app.expense.report.dto.ExpenseReportHeaderDTO">
		select t.*,0 writeOffAmount,0 paidAmount,1 reversedFlag from
			exp_report_header t
 	    where
 	    	1=1
	   <if test="ew!=null">
		   ${ew.sqlSegment}
	   </if>
	</select>
	<select id="getCountByCondition" resultType="java.lang.Integer">
		select count(1) from
		exp_report_header t
		where
		1=1
		<if test="ew!=null">
			${ew.sqlSegment}
		</if>
	</select>

	<select id="getSignExpenseReports" resultType="com.hand.hcf.app.expense.report.domain.ExpenseReportHeader">
		select distinct r.*
		from exp_report_header r
		inner join invoice_line_expence ile on ile.EXP_EXPENSE_HEAD_ID = r.ID
		inner join invoice_bag_no_scan ibns on ibns.INVOICE_BAG_NO = ile.INVOICE_BAG_NO
		where
		1 = 1
		<if test="ew!=null">
			${ew.sqlSegment}
		</if>
	</select>
</mapper>
