<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.mdata.responsibilityCenter.persistence.ResponsibilityCenterMapper">
    <select id="pageByResponsibilityCenterConditionByIds" resultType="com.hand.hcf.app.mdata.responsibilityCenter.domain.ResponsibilityCenter">
        SELECT
        *
        FROM
        SYS_RES_CENTER rs
        <where>
        <if test="enabled != null">
            AND rs.enabled = #{enabled}
        </if>
        <if test="setOfBooksId != null and setOfBooksId != ''">
            AND rs.set_of_books_id = #{setOfBooksId}
        </if>
        <if test="info != null and info != ''">
            AND rs.responsibility_center_code LIKE concat(concat('%',#{info}),'%')
            OR  rs.responsibility_center_name LIKE concat(concat('%',#{info}),'%')
        </if>
        <if test="codeFrom != null and codeFrom != ''">
            AND rs.responsibility_center_code &gt;= #{codeFrom}
        </if>
        <if test="codeTo != null and codeTo != ''">
            AND rs.responsibility_center_code &lt;= #{codeTo}
        </if>
        <if test="resCenterIdList != null and resCenterIdList.size() > 0">
           AND rs.id IN
           <foreach collection="resCenterIdList" item="resCenterId" open="(" separator="," close=")">
               #{resCenterId}
           </foreach>
         </if>
        </where>
        ORDER BY rs.responsibility_center_code
    </select>
    
    <select id="pageResponsibilityCenterBySetOfBooksId" resultType="com.hand.hcf.app.mdata.responsibilityCenter.domain.ResponsibilityCenter">
        SELECT
        *
        FROM
        SYS_RES_CENTER rs
        <where>
            <if test="setOfBooksId != null and setOfBooksId != ''">
                AND rs.set_of_books_id = #{setOfBooksId}
            </if>
            <if test="codeFrom != null and codeFrom != ''">
                AND rs.responsibility_center_code &gt;= #{codeFrom}
            </if>
            <if test="codeTo != null and codeTo != ''">
                AND rs.responsibility_center_code &lt;= #{codeTo}
            </if>
            <if test="responsibilityCenterCode != null and responsibilityCenterCode != ''">
                AND rs.responsibility_center_code LIKE concat(concat('%',#{responsibilityCenterCode}),'%')
            </if>
            <if test="responsibilityCenterName != null and responsibilityCenterName != ''">
                AND rs.responsibility_center_name LIKE concat(concat('%',#{responsibilityCenterName}),'%')
            </if>
            <if test="keyword != null and keyword != '' ">
                AND rs.responsibility_center_code LIKE concat(concat('%',#{info}),'%')
                OR  rs.responsibility_center_name LIKE concat(concat('%',#{info}),'%')
            </if>
            <if test="enabled != null">
                AND rs.enabled = #{enabled}
            </if>
        </where>
        AND rs.deleted = FALSE
        ORDER BY enabled DESC, rs.responsibility_center_code
    </select>
    <select id="pageByCompanyAndDepartment"
            resultType="com.hand.hcf.app.mdata.responsibilityCenter.dto.ResponsibilityLovDTO">
        select
            temp.id,
            temp.code,
            temp.name,
            concat(concat(temp.code,
            '-'),
            temp.name) as codeName,
            temp.enabled
            from
            (select
            t.id ,
            t.code ,
            t.name,
            t.enabled
            from
            (SELECT
            rc.id,
            rc.responsibility_center_code as code,
            rc.responsibility_center_name as name,
            rc.enabled
            FROM
            sys_department_sob_res    a,
            sys_department_res_center b,
            sys_res_center            rc,
            sys_res_center_company_assign rcca,
            sys_company c
            WHERE
            a.id = b.relation_id
            AND a.all_responsibility_center = 'N'
            AND b.responsibility_center_id = rc.id
            AND rc.deleted = 0
        <if test="enabled != null">
            AND rc.enabled = #{enabled}
        </if>
            and rcca.deleted = 0
            and rcca.enabled = 1
            and rcca.responsibility_center_id = rc.id
            and rcca.company_id = c.id
            and c.id = #{companyId}
            and    (
            (
            a.set_of_books_id = c.set_of_books_id
            and a.company_id is null
            )
            or c.id = a.company_id
            )
            AND a.department_id = #{departmentId}
            union
            SELECT
            rc.id,
            rc.responsibility_center_code as code,
            rc.responsibility_center_name as name,
            rc.enabled
            FROM
            sys_department_sob_res    a,
            sys_res_center_company_assign rcca,
            sys_res_center            rc,
            sys_company c
            WHERE
            a.all_responsibility_center = 'Y'
            AND rc.deleted = 0
        <if test="enabled != null">
            AND rc.enabled = #{enabled}
        </if>
            and c.id = #{companyId}
            and rcca.deleted = 0
            and rcca.enabled = 1
            AND (
            (
            c.set_of_books_id = a.set_of_books_id
            and a.company_id is null
            )
            or c.id = a.company_id
            )
            AND a.department_id = #{departmentId}
            and rcca.company_id = c.id
            and rcca.responsibility_center_id = rc.id
            ) t
            group by
            t.id,
            t.code,
            t.name, t.enabled        ) temp
        <trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="code != null and code !=''">
                AND temp.code like concat(concat('%', #{code}), '%')
            </if>
            <if test="name != null and name != ''">
                AND temp.name like concat(concat('%', #{name}), '%')
            </if>
            <if test="id != null">
                AND temp.id  = #{id}
            </if>
            <if test="codeName != null and codeName != ''">
                AND (
                temp.name like concat(concat('%', #{codeName}), '%')
                or temp.code like concat(concat('%', #{codeName}), '%')
                )
            </if>
        </trim>
        order by temp.code
    </select>
    <select id="listCompanyDepartmentDefaultCenter"
            resultType="com.hand.hcf.app.mdata.responsibilityCenter.dto.ResponsibilityDefaultDTO">
        SELECT
            a.company_id,
            rc.id,
            rc.responsibility_center_code as responsibilityCenterCode,
            rc.responsibility_center_name as responsibilityCenterName,
            concat(concat(rc.responsibility_center_code,
            '-'),
            responsibility_center_name) as codeName,
            a.department_id
        FROM
            sys_department_sob_res        a,
            sys_res_center_company_assign rcca,
            sys_res_center                rc,
            sys_company                   c
        WHERE
            rc.deleted = 0
            AND rc.enabled = 1
            AND c.id = #{companyId}
            AND rcca.deleted = 0
            AND rcca.enabled = 1
            AND (
                (
                    c.set_of_books_id = a.set_of_books_id
                    AND a.company_id IS NULL
                )
                OR                c.id = a.company_id
            )
            AND a.department_id in
            <foreach collection="departmentIds" item="departmentId" open="(" close=")" separator=",">
                #{departmentId}
            </foreach>
            AND rcca.company_id = c.id
            AND rcca.responsibility_center_id = rc.id
            and a.default_responsibility_center is not null
            and a.default_responsibility_center = rc.id
    </select>

    <select id="listEnabledBySobIdAndCompanyId"
            resultType="com.hand.hcf.app.mdata.responsibilityCenter.domain.ResponsibilityCenter">
        select
                a.*
            from
                sys_res_center a
            where
                a.set_of_books_id = #{setOfBooksId}
                and a.enabled = 1
                and a.deleted = 0
            <if test="companyId != null">
                and exists (
                    select
                        1
                    from
                        sys_res_center_company_assign b
                    where
                        a.id = b.responsibility_center_id
                        and b.enabled = 1
                        and b.deleted = 0
                        and b.company_id = #{companyId}
                )
            </if>
            <if test="centerIds != null and centerIds.size > 0">
                and a.id in
                <foreach collection="centerIds" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
    </select>

</mapper>