<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.mdata.responsibilityCenter.persistence.ResponsibilityCenterMapper">
    <select id="pageByResponsibilityCenterConditionByIds" resultType="com.hand.hcf.app.mdata.responsibilityCenter.domain.ResponsibilityCenter">
        SELECT
        *
        FROM
        SYS_RES_CENTER rs
        <where>
        <if test="enabled != null">
            AND rs.enabled = #{enabled}
        </if>
        <if test="setOfBooksId != null and setOfBooksId != ''">
            AND rs.set_of_books_id = #{setOfBooksId}
        </if>
        <if test="info != null and info != ''">
            AND rs.responsibility_center_code LIKE concat(concat('%',#{info}),'%')
            OR  rs.responsibility_center_name LIKE concat(concat('%',#{info}),'%')
        </if>
        <if test="codeFrom != null and codeFrom != ''">
            AND rs.responsibility_center_code &gt;= #{codeFrom}
        </if>
        <if test="codeTo != null and codeTo != ''">
            AND rs.responsibility_center_code &lt;= #{codeTo}
        </if>
        <if test="resCenterIdList != null and resCenterIdList.size() > 0">
           AND rs.id IN
           <foreach collection="resCenterIdList" item="resCenterId" open="(" separator="," close=")">
               #{resCenterId}
           </foreach>
         </if>
        </where>
        ORDER BY rs.responsibility_center_code
    </select>
    
    <select id="pageResponsibilityCenterBySetOfBooksId" resultType="com.hand.hcf.app.mdata.responsibilityCenter.domain.ResponsibilityCenter">
        SELECT
        *
        FROM
        SYS_RES_CENTER rs
        <where>
            <if test="setOfBooksId != null and setOfBooksId != ''">
                AND rs.set_of_books_id = #{setOfBooksId}
            </if>
            <if test="codeFrom != null and codeFrom != ''">
                AND rs.responsibility_center_code &gt;= #{codeFrom}
            </if>
            <if test="codeTo != null and codeTo != ''">
                AND rs.responsibility_center_code &lt;= #{codeTo}
            </if>
            <if test="responsibilityCenterCode != null and responsibilityCenterCode != ''">
                AND rs.responsibility_center_code LIKE concat(concat('%',#{responsibilityCenterCode}),'%')
            </if>
            <if test="responsibilityCenterName != null and responsibilityCenterName != ''">
                AND rs.responsibility_center_name LIKE concat(concat('%',#{responsibilityCenterName}),'%')
            </if>
            <if test="keyword != null and keyword != '' ">
                AND rs.responsibility_center_code LIKE concat(concat('%',#{info}),'%')
                OR  rs.responsibility_center_name LIKE concat(concat('%',#{info}),'%')
            </if>
            <if test="enabled != null">
                AND rs.enabled = #{enabled}
            </if>
        </where>
        AND rs.deleted = FALSE
        ORDER BY enabled DESC, rs.responsibility_center_code
    </select>

</mapper>