:global {
    .train{
      .ant-table-thead  tr  th
      {
        text-align: center
      }
      .rightClass{
        text-align: right
      }
      .leftClass{
        text-align: left
      }
      .ant-form-item-label label{
        color: #666666;
      }
      .ant-form-item-label label::after{
        content: '';
      }
    }
    .ant-row-flex{
      .ant-form-item{
        margin-bottom: 8px;
      }
      .ant-form-item-label{
        // width: 55px;
        // margin-right: 10px;
      }
      .ant-form-item-label label::after{
        content: '';
      }
    }
    .custom-form {
      .ant-form-item-control-wrapper{
        .ant-form-item-control {
          line-height: unset;
        }
      }
    }
}
