:global {
  .train{
    .tableHeight{
        td {
          padding: 0px 5px;
          form {
            justify-items: center;
            .ant-form-item {
              margin-bottom: 0px;
            }
          }
        }
    }
    .ant-select-dropdown{
      width: 400px !important;
    }
    .ant-select-dropdown-hidden {
      width: 400px !important;
    }
  }
}
