<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.expense.application.persistence.ApplicationLineMapper">

    <select id="getTotalAmount" parameterType="long" resultType="com.hand.hcf.app.expense.application.domain.ApplicationLine">

        select sum(t.amount) as amount,
                sum(t.functional_amount) as functional_amount
          from exp_application_line t
         where t.header_id = #{headerId}
    </select>
    <select id="getLinesByHeaderId" resultType="com.hand.hcf.app.expense.application.web.dto.ApplicationLineWebDTO">
        SELECT
            t.*,
            (t.amount - coalesce(t.closed_amount,
            0) - t.associateAmount) AS canCloseAmount,
            eet.name as expenseTypeName,
            eet.icon_url
        FROM
            (SELECT
                t1.*,
                <choose>
                    <when test="closeFlag">
                        (SELECT
                        coalesce(SUM(v.amount),
                        0) AS associateamount
                        FROM
                        exp_requisition_release v,
                        exp_report_header rh
                        WHERE
                        v.source_doc_category = 'EXP_REQUISITION'
                        AND v.related_doc_id = rh.id
                        AND v.source_doc_id = t1.header_id
                        AND v.source_doc_line_id = t1.id
                        AND v.related_doc_category = 'PUBLIC_REPORT'
                        AND rh.audit_flag = 'Y') AS associateAmount
                    </when>
                    <otherwise>
                        0 as associateAmount
                    </otherwise>
                </choose>
            FROM
                exp_application_line t1 ) t,
                exp_expense_type eet
            WHERE
                t.header_id = #{headerId}
                AND t.expense_type_id = eet.id
            ORDER BY
                t.id ASC
    </select>
    <select id="getCurrencyAndAmount" resultType="com.hand.hcf.app.expense.common.dto.CurrencyAmountDTO">
        select t.currency_code,
        sum(t.amount) as amount,
        sum(t.functional_amount) as functional_amount
         from exp_application_line t where t.header_id = #{headerId}
        group by t.currency_code
    </select>
</mapper>
