<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.expense.application.persistence.PrepaymentRequisitionReleaseMapper">

    <delete id="releasePrepaymentRequisitionRelease">
        delete from EXP_PREPAYMENT_REQ_RELEASE
        where  related_doc_id = #{prepaymentId}
    </delete>

</mapper>
