<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.expense.invoice.persistence.InvoiceLineExpenceMapper">
    <select id="getInvoiceLineExpenceById" resultType="com.hand.hcf.app.expense.invoice.domain.InvoiceLineExpence">
         select *
           FROM invoice_line_expence ile
          inner join invoice_line_dist ild
             ON ild.id = ile.invoice_dist_id
          inner join invoice_line il
             on il.id = ild.invoice_line_id
          where il.id = #{invoiceLineId}
            and ile.expense_book_id = #{expenseBookId}

    </select>
    <select id="getInvoiceLineExpenceByHeadId" resultType="com.hand.hcf.app.expense.invoice.dto.InvoiceLineExpenceWebQueryDTO">
        SELECT ile.id               id,
               ild.id               invoiceLineDistId,
               il.id                invoiceLineId,
               il.invoice_line_num  invoiceLineSequence,
               r.id                 reportHeadId,
               r.requisition_number requisitionNumber,
               r.document_type_id   reportTypeId,
               rt.report_type_name  reportTypeName,
               r.applicant_id       applicantId,
               r.requisition_date   requisitionDate,
               rl.id                reportLineId,
               rl.description       remarks,
               et.id                expenseTypeId,
               et.name              expenseTypeName
        FROM invoice_line_expence ile
        INNER JOIN invoice_line_dist ild
        ON ild.id = ile.invoice_dist_id
        INNER JOIN invoice_line il
        ON il.id = ild.invoice_line_id
        INNER JOIN exp_report_header r
        ON r.id = ile.exp_expense_head_id
        INNER JOIN exp_report_type rt
        ON rt.id = r.document_type_id
        INNER JOIN exp_report_line rl
        ON rl.id = ile.exp_expense_line_id
        INNER JOIN exp_expense_type et
        ON et.id = rl.expense_type_id
        WHERE il.invoice_head_id = #{headId}
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>

    <select id="getInvoiceLineExpenceByReportHeadId" resultType="com.hand.hcf.app.expense.invoice.dto.InvoiceLineExpenceWebQueryDTO">
        SELECT ile.id               id,
        ild.id               invoiceLineDistId,
        il.id                invoiceLineId,
        il.invoice_line_num  invoiceLineSequence,
        r.id                 reportHeadId,
        r.requisition_number requisitionNumber,
        r.document_type_id   reportTypeId,
        rt.report_type_name  reportTypeName,
        r.applicant_id       applicantId,
        r.requisition_date   requisitionDate,
        rl.id                reportLineId,
        rl.description       remarks,
        et.id                expenseTypeId,
        et.name              expenseTypeName,
        ih.invoice_date     invoiceDate,
        ile.invoice_no      invoiceNo,
        ile.invoice_code    invoiceCode,
        ile.detail_amount   detailAmount,
        ile.tax_rate         taxRate,
        ile.tax_amount       taxAmount,
        ile.invoice_bag_no   invoiceBagNo,
        ile.invoice_bag_confirm_flag  invoiceBagConfirmFlag,
        ile.invoice_mate_flag invoiceMateFlag
        FROM invoice_line_expence ile
        INNER JOIN invoice_line_dist ild
        ON ild.id = ile.invoice_dist_id
        INNER JOIN invoice_line il
        ON il.id = ild.invoice_line_id
        INNER JOIN invoice_head ih
        ON ih.id = il.invoice_head_id
        INNER JOIN exp_report_header r
        ON r.id = ile.exp_expense_head_id
        INNER JOIN exp_report_type rt
        ON rt.id = r.document_type_id
        INNER JOIN exp_report_line rl
        ON rl.id = ile.exp_expense_line_id
        INNER JOIN exp_expense_type et
        ON et.id = rl.expense_type_id
        WHERE r.id = #{reportHeadId}
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>
</mapper>