<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.expense.invoice.persistence.InvoiceHeadMapper">


    <select id="pageInvoiceByCond" resultType="com.hand.hcf.app.expense.invoice.domain.InvoiceHead">
        select *
          from invoice_head h
         where exists (select 1
                  from invoice_line l
                 where h.id = l.invoice_head_id
                   and not exists
                 (select 1
                          from invoice_line_dist d, invoice_line_expence e
                         where l.id = d.invoice_line_id
                           and d.id = e.invoice_dist_id
                          ))
        <if test="ew != null">
            ${ew.sqlSegment}
        </if>
    </select>
</mapper>