<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.mdata.currency.persistence.TenantConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.hand.hcf.app.mdata.currency.domain.TenantConfig">
        <result column="tenant_id" property="tenantId"/>
        <result column="set_of_books_id" property="setOfBooksId"/>
        <result column="warn_exchange_rate_tol" property="warnExchangeRateTol"/>
        <result column="prohibit_exchange_rate_tol" property="prohibitExchangeRateTol"/>
        <result column="enabled" property="enabled"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <resultMap id="BaseResultDTOMap"
               type="com.hand.hcf.app.mdata.currency.dto.TenantConfigDTO">
        <result column="tenant_id" property="tenantId"/>
        <result column="set_of_books_id" property="setOfBooksId"/>
        <result column="warn_exchange_rate_tol" property="warnExchangeRateTol"/>
        <result column="prohibit_exchange_rate_tol" property="prohibitExchangeRateTol"/>
        <result column="enabled" property="enabled"/>
        <result column="deleted" property="deleted"/>
    </resultMap>



</mapper>