<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.tenant.persistence.TenantMapper">


    <select id="listTenantDTOsByCondition" resultType="com.hand.hcf.app.base.tenant.dto.TenantDTO">
        select
        t.*,su.login,su.email,su.mobile,su.user_name userName
        from
        sys_tenant t
        left join sys_user su
        on su.tenant_id = t.id
        and su.created_type = '1003'
        where 1 = 1
        <if test="tenantName != null and tenantName !=''">
            AND t.tenant_name like concat(concat('%',#{tenantName}),'%')
        </if>
        <if test="tenantCode != null and tenantCode !=''">
            AND t.tenant_code like concat(concat('%',#{tenantCode}),'%')
        </if>
        <if test="userName != null and userName !=''">
            AND su.user_name like concat(concat('%',#{userName}),'%')
        </if>
        <if test="mobile != null and mobile !=''">
            AND su.mobile like concat(concat('%',#{mobile}),'%')
        </if>
        <if test="email != null and email !=''">
            AND su.email like concat(concat('%',#{email}),'%')
        </if>
        <if test="login != null and login !=''">
            AND su.login like concat(concat('%',#{login}),'%')
        </if>
        <if test="remark != null and remark !=''">
            AND su.remark like concat(concat('%',#{remark}),'%')
        </if>
        order by t.tenant_code
    </select>

    <resultMap id="TenantDTOMap" type="com.hand.hcf.app.base.tenant.dto.TenantDTO">
        <id column="id" property="id"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="tenant_name" property="tenantName"/>
        <result column="remark" property="remark"/>
        <result column="userName" property="userName"/>
        <result column="mobile" property="mobile"/>
        <result column="login" property="login"/>
        <result column="email" property="email"/>
        <collection property="applicationIds" column="id"
                    select="listApplicationId"/>
    </resultMap>
    <select id="listApplicationId" resultType="java.lang.Long">
        select a.application_id from sys_tenant_application a where a.tenant_id = #{id}
    </select>
    <select id="listApplications" resultType="com.hand.hcf.app.common.co.ApplicationCO">
        select
            t.id, t.app_code, t.app_name
        from
            sys_application t
        where
            exists(
                select
                    1
                from
                    sys_tenant_application a
                where
                    a.tenant_id = #{tenantId}
                    and a.application_id = t.id
            )
    </select>
</mapper>
