<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.tenant.persistence.TenantMapper">


    <select id="listTenantDTOsByCondition" resultType="com.hand.hcf.app.base.tenant.dto.TenantDTO">
        select
        t.*,su.login,sc.employee_id,sc.full_name,sc.email,sp.phone_number mobile
        from
        sys_tenant t
        left join sys_user su
        on su.tenant_id = t.id
        and su.created_type = '1003'
        left join sys_contact sc
        on sc.id = su.contact_id
        left join sys_phone sp
        on sp.contact_id = sc.id
        where 1 = 1
        <if test="tenantName != null and tenantName !=''">
            AND t.tenant_name like concat(concat('%',#{tenantName}),'%')
        </if>
        <if test="tenantCode != null and tenantCode !=''">
            AND t.tenant_code like concat(concat('%',#{tenantCode}),'%')
        </if>
        <if test="employeeId != null and employeeId !=''">
            AND sc.employee_id like concat(concat('%',#{employeeId}),'%')
        </if>
        <if test="fullName != null and fullName !=''">
            AND sc.full_name like concat(concat('%',#{fullName}),'%')
        </if>
        <if test="mobile != null and mobile !=''">
            AND sp.phone_number like concat(concat('%',#{mobile}),'%')
        </if>
        <if test="email != null and email !=''">
            AND sc.email like concat(concat('%',#{email}),'%')
        </if>
        <if test="login != null and login !=''">
            AND su.login like concat(concat('%',#{login}),'%')
        </if>
        order by t.tenant_code
    </select>
</mapper>
