<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.tenant.persistence.TenantMapper">


    <select id="listTenantDTOsByCondition" resultType="com.hand.hcf.app.base.tenant.dto.TenantDTO">
        select
        t.*,su.login,su.email,su.mobile,su.user_name userName
        from
        sys_tenant t
        left join sys_user su
        on su.tenant_id = t.id
        and su.created_type = '1003'
        where 1 = 1
        <if test="tenantName != null and tenantName !=''">
            AND t.tenant_name like concat(concat('%',#{tenantName}),'%')
        </if>
        <if test="tenantCode != null and tenantCode !=''">
            AND t.tenant_code like concat(concat('%',#{tenantCode}),'%')
        </if>
        <if test="userName != null and userName !=''">
            AND su.user_name like concat(concat('%',#{userName}),'%')
        </if>
        <if test="mobile != null and mobile !=''">
            AND su.mobile like concat(concat('%',#{mobile}),'%')
        </if>
        <if test="email != null and email !=''">
            AND su.email like concat(concat('%',#{email}),'%')
        </if>
        <if test="login != null and login !=''">
            AND su.login like concat(concat('%',#{login}),'%')
        </if>
        <if test="remark != null and remark !=''">
            AND su.remark like concat(concat('%',#{remark}),'%')
        </if>
        order by t.tenant_code
    </select>
</mapper>
