<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.ant.mdata.location.persistence.PayeeHeaderMapper">

    <select id="selectForReport" resultType="com.hand.hcf.app.expense.report.dto.ExpenseReportHeaderDTO">
		SELECT
		h.*
		FROM
		sys_payee_header h
		<where>
			<if test="payeeHeaderId != null">
				AND h.id = ${payeeHeaderId}
			</if>
			<if test="payeeType != null and payeeType != ''">
				AND h.payee_type = ${payeeType,jdbcType=VARCHAR}
			</if>
			<if test="payeeCountryCode != null and payeeCountryCode != ''">
				AND h.payee_country_code = ${payeeCountryCode,jdbcType=VARCHAR}
			</if>
			<if test="payeeCityCode != null and payeeCityCode != ''">
				AND h.payee_city_code = ${payeeCityCode,jdbcType=VARCHAR}
			</if>
			<if test="payerCountryCode != null and payerCountryCode != ''">
				AND h.payer_country_code = ${payerCountryCode,jdbcType=VARCHAR}
			</if>
			<if test="payerCityCode != null and payerCityCode != ''">
				AND h.payer_city_code = ${payerCityCode,jdbcType=VARCHAR}
			</if>
			<if test="payeeCode != null and payeeCode != ''">
				AND h.payee_code = ${payeeCode,jdbcType=VARCHAR}
			</if>
			<if test="payeeName != null and payeeName != ''">
				and h.payee_name LIKE concat('%', concat(#{payeeName,jdbcType=VARCHAR}, '%'))
			</if>
		</where>
	</select>
</mapper>
