<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.userRole.persistence.ContentFunctionRelationMapper">

    <select id="filterContentFunctionRelationByCond" resultType="com.hand.hcf.app.base.userRole.domain.FunctionList">
        SELECT * FROM sys_function_list sfl WHERE sfl.id NOT IN (
        SELECT scfr.function_id FROM sys_content_function_rel scfr
        GROUP BY scfr.function_id
        )
        and sfl.tenant_id=${tenantId}
        AND sfl.deleted = false
        <if test="functionName !=null and functionName != ''">
            AND sfl.function_name LIKE concat('%', concat(#{functionName,jdbcType=VARCHAR}, '%'))
        </if>
        ORDER BY sfl.last_updated_date DESC
    </select>
    <select id="listContentFunctions" resultType="com.hand.hcf.app.base.userRole.dto.ContentFunctionDTO">
        SELECT c.id as content_id,
        c.content_name,
        c.content_router,
        c.icon,
        c.parent_id,
        c.sequence_number AS contentSequenceNumber,
        c.has_son_content,
        f.id as function_id,
        f.function_name,
        f.function_router,
        f.param,
        f.sequence_number as functionSequenceNumber,
        f.page_id,
        f.function_icon,
        f.application_id,
        a.app_code as applicationCode
        FROM  sys_function_list f
        LEFT JOIN (SELECT a.*, cf.function_id
        FROM sys_content_list a, sys_content_function_rel cf
        WHERE a.id = cf.content_id
        and a.deleted = 0
        AND a.tenant_id = #{tenantId}) c
        ON c.function_id = f.id
        LEFT JOIN sys_application a on f.application_id = a.id
        WHERE
        f.deleted = 0
        and f.tenant_id=  #{tenantId}
        AND exists (select 1 from sys_role_function rf where rf.function_id = f.id
        <if test="roleIds != null and roleIds.size > 0">
            AND rf.role_id in
            <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
                #{roleId}
            </foreach>
        </if>)
        ORDER BY c.sequence_number asc , f.sequence_number asc
    </select>
    <select id="listNotAssignFunction" resultType="com.hand.hcf.app.base.userRole.dto.ContentFunctionDTO">

        select
        c.id as content_id,
        c.content_name,
        c.content_router,
        c.icon,
        c.parent_id,
        c.sequence_number AS contentsequencenumber,
        c.has_son_content
        from sys_content_list c
        where c.deleted = 0
        and c.tenant_id=${tenantId}
        and c.id not in (select cf.content_id from sys_content_function_rel cf where
        cf.function_id in
        <foreach collection="functionIds" item="functionId" separator="," open="(" close=")">
            #{functionId}
        </foreach>
        )
        order by c.sequence_number asc
    </select>

    <select id="listCanAssignFunction" resultType="com.hand.hcf.app.base.userRole.dto.ContentFunctionDTO">
        SELECT
            b.content_id as contentId,
            c.content_name as contentName,
            c.content_router as contentRouter,
            c.parent_id as parentId,
            c.sequence_number as contentSequenceNumber,
            c.has_son_content as hasSonContent,
            a.id as functionId,
            a.function_name as functionName,
            a.function_router as functionRouter,
            a.param as param,
            a.sequence_number as functionSequenceNumber,
            a.page_id as pageId,
            a.function_icon as functionIcon,
            a.application_id as applicationId
        FROM
            sys_function_list a
        LEFT JOIN (SELECT cf.*
        FROM sys_content_list a, sys_content_function_rel cf
        WHERE a.id = cf.content_id
        and a.deleted = 0
        AND a.tenant_id = ${tenantId}) b
        ON a.id = b.function_id
        LEFT JOIN
            sys_content_list c
                ON b.content_id = c.id
                AND c.deleted = 0
                and c.tenant_id=${tenantId}
        WHERE
            a.deleted = 0
          and a.tenant_id=${tenantId}
        <if test="roleId != 0">
            and lower(coalesce(a.param, '0')) != 'system'
        </if>
        order by
            c.sequence_number,
            a.sequence_number
    </select>



    <select id="listRelationByTenant" resultType="com.hand.hcf.app.base.userRole.domain.ContentFunctionRelation">
       select cl.id as content_id, fl.id as function_id from
            SYS_FUNCTION_LIST fl,
            SYS_CONTENT_FUNCTION_REL cfr ,
            SYS_CONTENT_LIST cl
        where fl.source_id=cfr.FUNCTION_ID
        and cfr.CONTENT_ID=cl.source_id
        and cl.tenant_id=${tenantId}
    </select>

</mapper>
