<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.userRole.persistence.UserRoleMapper">
    <!-- 根据用户ID，角色ID集合，删除用户与角色ID集合的关联 -->
    <delete id="deleteUserRoleByUserIdAndRoleIds">
        delete from sys_user_role where user_id = #{userId}
        <if test=" roleIds != null and roleIds.size > 0 ">
            and role_id in
            <foreach collection="roleIds" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </delete>
    <select id="getAllRolesByCond" resultType="com.hand.hcf.app.base.userRole.domain.Role">
        select id,
        role_code,
        role_name,
        tenant_id,
        deleted,
        enabled
        from sys_role sr
        where
        sr.enabled = 1 and sr.deleted = 0
        <if test=" roleCode != null">
            and sr.role_code like concat(concat('%',#{roleCode}),'%')
        </if>
        <if test=" roleName != null">
            and sr.role_name like concat(concat('%',#{roleName}),'%')
        </if>
        and
        ( sr.tenant_id = #{tenantId})
        order by role_code
    </select>
    <select id="getSelectedRolesByCond" resultType="com.hand.hcf.app.base.userRole.domain.Role">
        select id,
        role_code,
        role_name,
        tenant_id,
        deleted,
        enabled
        from sys_role sr
        where sr.enabled = 1 and sr.deleted = 0
        <if test=" roleCode != null">
            and sr.role_code like concat(concat('%',#{roleCode}),'%')
        </if>
        <if test=" roleName != null">
            and sr.role_name like concat(concat('%',#{roleName}),'%')
        </if>
        and exists (
        select 1 from sys_user_role sur
        where sur.role_id = sr.id
        and sur.enabled = 1
        and sur.user_id = #{userId}
        )
        order by role_code
    </select>

    <select id="userHasRole" resultType="java.lang.Integer">
        select count(0) from sys_user_role sur
          where
          sur.enabled = 1
          and sur.user_id = #{userId}
    </select>

    <select id="listSelectedUserRolesByCond"
            resultType="com.hand.hcf.app.base.userRole.dto.UserAssignRoleDataAuthority">
        SELECT
        sur.*,
        sr.role_code,
        sr.role_name
        FROM
        sys_user_role sur
        left join
        sys_role sr
        on sur.role_id = sr.id
        WHERE sr.enabled = 1
        AND sr.deleted = 0
        AND sur.enabled = 1
        AND sur.user_id = #{userId}
        <if test=" roleCode != null">
            and sr.role_code like concat(concat('%',#{roleCode}),'%')
        </if>
        <if test=" roleName != null">
            and sr.role_name like concat(concat('%',#{roleName}),'%')
        </if>
        <if test=" dataAuthorityName != null">
            and sda.data_authority_name like concat(concat('%',#{dataAuthorityName}),'%')
        </if>
        <if test=" null != validDateFrom">
            and sur.valid_date_from &gt;= #{validDateFrom}
        </if>
        <if test=" null != validDateTo">
            and sur.valid_date_to &lt;= #{validDateTo}
        </if>
        order by role_code
    </select>

    <select id="getRoleIdByUserIdAndTime" resultType="java.lang.Long">
        SELECT sur.role_id FROM sys_user_role sur
        WHERE sur.user_id = #{userId}
        AND sur.enabled = 1
        AND (sur.valid_date_from is null or sur.valid_date_from &lt;= #{now})
        AND (sur.valid_date_to is null or sur.valid_date_to &gt;= #{now})
    </select>

    <select id="listDataAuthIdByFunctionId" resultType="java.lang.Long">
        select sur.data_authority_id from sys_user_role sur,
          sys_role sr,
          sys_role_function srf
        where sr.id = sur.role_id
          and srf.role_id = sr.id
          and sr.enabled = 1
          and sr.deleted = 0
          and sur.enabled = 1
          and (sur.valid_date_from is null or sur.valid_date_from &lt;= #{now})
          and (sur.valid_date_to is null or sur.valid_date_to &gt;= #{now})
          and sur.user_id = #{userId}
          and srf.function_id = #{functionId}
    </select>

    <select id="dataAuthHasUsed" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM SYS_USER_ROLE SUR
        WHERE SUR.DATA_AUTHORITY_ID = #{dataAuthority_id}
    </select>

    <select id="getDataAuthName" resultType="com.hand.hcf.app.base.userRole.dto.UserAssignRoleDataAuthority">
            SELECT
                d.data_authority_code,
                d.data_authority_name,
                d.description
            FROM
                sys_data_authority d
            WHERE
                d.id = #{id}
    </select>
</mapper>
