<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.workflow.workflow.persistence.ApprovalChainMapper">

    <select id="getApprovalChainByRefId" parameterType="long"  resultType="com.hand.hcf.app.workflow.workflow.dto.ApprovalChainDTO">
        SELECT
        ac.*
        FROM sys_approval_chain ac
        WHERE ac.id = #{refApprovalChainId}
    </select>

    <update id="updateAllFinshTrueById" parameterType="long" >
        update
        sys_approval_chain
        set
        all_finished = true
        where
        id = #{approvalChainId};
    </update>

    <select id="getApprovalChainById" parameterType="long" resultType="com.hand.hcf.app.workflow.workflow.domain.ApprovalChain">
        SELECT
        *
        FROM sys_approval_chain
        where
        id = #{approvalChainId};
    </select>



</mapper>
