<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hcf.app.workflow.workflow.persistence.ApprovalFormMapper" >


    <select id="listDTOByQO" parameterType="com.hand.hcf.app.workflow.workflow.dto.ApprovalFormQO" resultType="com.hand.hcf.app.workflow.workflow.dto.ApprovalFormDTO">
        SELECT
        a.*
        FROM
        sys_approval_form a
        <where>
            <include refid="commonSearchClause"/>
        </where>

    </select>

    <sql id="commonSearchClause">
        1=1
        <if test="formOid != null">
            AND a.form_oid = #{formOid}
        </if>
        <if test="formCode != null">
            AND a.form_code = #{formCode}
        </if>
        <if test="formTypeId != null">
            AND a.form_type_id = #{formTypeId}
        </if>

        <if test="fromType != null">
            AND a.from_type = #{fromType}
        </if>
        <if test="tenantId != null">
            AND a.tenant_id = #{tenantId}
        </if>
        <if test="setOfBooksId != null">
            AND a.set_of_books_id = #{setOfBooksId}
        </if>
        <if test="formTypeList != null and formTypeList.size >0">
            AND a.form_type_id in
            <foreach collection="formTypeList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


        <!-- 表单Oid -->
        <if test="formOids != null and formOids.size >0">
            AND a.form_oid in
            <foreach collection="formOids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


        <!-- 排除的表单Oid -->
        <if test="excludedFormOids != null and excludedFormOids.size >0">
            AND a.form_oid not in
            <foreach collection="excludedFormOids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="companyOid != null">
            AND c.company_oid = #{companyOid}
        </if>
        <!-- 表单Oid -->
        <if test="companyOids != null and companyOids.size >0">
            AND c.company_oid in
            <foreach collection="companyOids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


        <if test="companyId != null">
            AND a.company_id = #{companyId}
        </if>
        <!-- company_id -->
        <if test="companyIds != null and companyIds.size >0">
            AND a.company_id in
            <foreach collection="companyIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>

        </if>
    </sql>


    <select id="listUserGroupByFormOid" parameterType="java.util.UUID" resultType="com.hand.hcf.app.workflow.workflow.dto.ApprovalFormUserGroupVO">
        SELECT ug.user_group_oid,ug.name
        FROM sys_user_group ug, sys_approval_form_user_group cfug
        WHERE cfug.group_oid = ug.user_group_oid AND cfug.form_oid = #{formOID}
    </select>

    <select id="listDepartmentsByFormOid" parameterType="java.util.UUID" resultType="com.hand.hcf.app.workflow.workflow.dto.ApprovalFormDepartmentVO">
        select cfud.department_oid,d.path from sys_approval_form_user_dept cfud,sys_department d  where cfud.department_oid = d.department_oid and  cfud.form_oid = #{form_oid}
    </select>
</mapper>
