<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hcf.app.workflow.workflow.persistence.WorkFlowDocumentRefMapper">

    <select id="getApprovalListDashboard" resultType="com.hand.hcf.app.workflow.workflow.dto.ApprovalDashboardDetailDTO">
        SELECT
        r.DOCUMENT_CATEGORY type,
        count(r.ID) count
        FROM
        SYS_WFL_DOCUMENT_REF r
        WHERE
        EXISTS ( SELECT swra.workflow_document_ref_id
        FROM sys_wfl_ref_approvers swra
        WHERE swra.approver_oid = #{userOid}
        AND r.id = swra.workflow_document_ref_id )
        GROUP BY
        r.DOCUMENT_CATEGORY
    </select>

    <!-- 查询未审批/已审批的单据 -->
    <select id="listApprovalDocument" resultType="com.hand.hcf.app.workflow.workflow.domain.WorkFlowDocumentRef">
        SELECT dr.*
        FROM sys_wfl_document_ref dr
        WHERE EXISTS (
          SELECT 1
          FROM sys_approval_chain ac
          WHERE ac.status = 1000
          <!-- 已审批 -->
          <if test="approved == true">
          AND ac.finish_flag = 1
          </if>
          <!-- 未审批 -->
          <if test="approved == false">
          AND ac.current_flag = 1
          </if>
          <!-- 审批人 -->
          <if test="approverOid != null">
          AND ac.approver_oid = #{approverOid}
          </if>
          AND ac.entity_oid = dr.document_oid
          AND ac.entity_type = dr.document_category
        )
        <!-- 提交日期 -->
        <if test="startDate != null">
        AND dr.submit_date >= #{startDate}
        </if>
        <!-- 提交日期 -->
        <if test="endDate != null">
        <![CDATA[ AND dr.submit_date <= #{endDate} ]]>
        </if>
        <!-- 单据类别 -->
        <if test="documentCategory != null">
        AND dr.document_category = #{documentCategory}
        </if>
    </select>

    <!-- 查询未审批/已审批的单据 -->
    <select id="pageApprovalDocument" resultType="com.hand.hcf.app.workflow.workflow.domain.WorkFlowDocumentRef">
        SELECT dr.*
        FROM sys_wfl_document_ref dr
        WHERE EXISTS (
        SELECT 1
        FROM sys_approval_chain ac
        WHERE ac.status = 1000
        <!-- 已审批 -->
        <if test="approved == true">
            AND ac.finish_flag = 1
        </if>
        <!-- 未审批 -->
        <if test="approved == false">
            AND ac.current_flag = 1
        </if>
        <!-- 审批人 -->
        <if test="approverOid != null">
            AND ac.approver_oid = #{approverOid}
        </if>
        AND ac.entity_oid = dr.document_oid
        AND ac.entity_type = dr.document_category
        )
        <!-- 备注 -->
        <if test="description != null">
            AND dr.remark like #{description}
        </if>
        <!-- -最小金额 -->
        <if test="amountFrom != null">
            AND dr.amount >= #{amountFrom}
        </if>
        <!-- 最大金额 -->
        <if test="amountTo != null">
            <![CDATA[ AND dr.amount <= #{amountTo} ]]>
        </if>
        <!-- 币种 -->
        <if test="currencyCode != null">
            AND dr.currency_code = #{currencyCode}
        </if>
        <!-- 申请人 -->
        <if test="applicantOid != null">
            AND dr.applicant_oid = #{applicantOid}
        </if>
        <!-- 单据名称 -->
        <if test="documentName != null">
            AND dr.contract_name like #{documentName}
        </if>
        <!-- 单据编号 -->
        <if test="documentNumber != null">
            AND dr.document_number like #{documentNumber}
        </if>
        <!-- 单据类型 -->
        <if test="documentTypeId != null">
            AND dr.document_type_id = #{documentTypeId}
        </if>
        <!-- 最小提交日期 -->
        <if test="startDate != null">
            AND dr.submit_date >= #{startDate}
        </if>
        <!-- 最大提交日期 -->
        <if test="endDate != null">
            <![CDATA[ AND dr.submit_date <= #{endDate} ]]>
        </if>
        <!-- 单据类别 -->
        <if test="documentCategory != null">
            AND dr.document_category = #{documentCategory}
        </if>
    </select>

    <!-- 待办事项-待审批单据-单据列表 -->
    <select id="getApprovalToPendDeatil" resultType="com.hand.hcf.app.workflow.workflow.domain.WorkFlowDocumentRef">
        SELECT dr.*
        FROM sys_wfl_document_ref dr
        WHERE
        EXISTS ( SELECT swra.workflow_document_ref_id
        FROM sys_wfl_ref_approvers swra
        WHERE swra.approver_oid = #{userOid}
        AND dr.id = swra.workflow_document_ref_id )
        <!-- 单据大类 -->
        <if test="documentCategory != null">
            AND dr.document_category = #{documentCategory}
        </if>
        <!-- 单据类型 -->
        <if test="documentTypeId != null">
            AND dr.document_type_id = #{documentTypeId}
        </if>
        <!-- 申请人 -->
        <if test="applicantName != null and applicantName != ''">
            AND dr.applicant_name LIKE #{applicantName}
        </if>
        <!-- 最小提交日期 -->
        <if test="beginDate != null">
            AND dr.submit_date >= #{beginDate}
        </if>
        <!-- 最大提交日期 -->
        <if test="endDate != null">
            <![CDATA[ AND dr.submit_date <= #{endDate} ]]>
        </if>
        <!-- -最小金额 -->
        <if test="amountFrom != null">
            AND dr.function_amount >= #{amountFrom}
        </if>
        <!-- 最大金额 -->
        <if test="amountTo != null">
            <![CDATA[ AND dr.function_amount <= #{amountTo} ]]>
        </if>
        <!-- 备注 -->
        <if test="remark != null and remark != ''">
            AND dr.remark like #{remark}
        </if>
        <!-- 单据编号 -->
        <if test="documentNumber != null and documentNumber != ''">
            AND dr.document_number like #{documentNumber}
        </if>
        ORDER BY dr.applicant_date ASC
    </select>

    <!-- 待办事项-待审批单据-分类信息 -->
    <select id="getApprovalToPendTotal" resultType="com.hand.hcf.app.workflow.workflow.dto.ApprovalDashboardDetailDTO">
        SELECT dr.document_category type, count(dr.ID) count
        FROM sys_wfl_document_ref dr
        WHERE
        EXISTS ( SELECT swra.workflow_document_ref_id
        FROM sys_wfl_ref_approvers swra
        WHERE swra.approver_oid = #{userOid}
        AND dr.id = swra.workflow_document_ref_id )
        <!-- 单据大类 -->
        <if test="documentCategory != null">
            AND dr.document_category = #{documentCategory}
        </if>
        <!-- 单据类型 -->
        <if test="documentTypeId != null">
            AND dr.document_type_id = #{documentTypeId}
        </if>
        <!-- 申请人 -->
        <if test="applicantName != null and applicantName != ''">
            AND dr.applicant_name LIKE #{applicantName}
        </if>
        <!-- 最小提交日期 -->
        <if test="beginDate != null">
            AND dr.submit_date >= #{beginDate}
        </if>
        <!-- 最大提交日期 -->
        <if test="endDate != null">
            <![CDATA[ AND dr.submit_date <= #{endDate} ]]>
        </if>
        <!-- -最小金额 -->
        <if test="amountFrom != null">
            AND dr.function_amount >= #{amountFrom}
        </if>
        <!-- 最大金额 -->
        <if test="amountTo != null">
            <![CDATA[ AND dr.function_amount <= #{amountTo} ]]>
        </if>
        <!-- 备注 -->
        <if test="remark != null and remark != ''">
            AND dr.remark like #{remark}
        </if>
        <!-- 单据编号 -->
        <if test="documentNumber != null and documentNumber != ''">
            AND dr.document_number like #{documentNumber}
        </if>
        GROUP BY dr.document_category
    </select>

    <!-- 待办事项-未完成单据 -->
    <select id="getUnFinishedList" resultType="com.hand.hcf.app.workflow.workflow.domain.WorkFlowDocumentRef">
        SELECT dr.*
        FROM sys_wfl_document_ref dr
        WHERE
        EXISTS ( SELECT swra.workflow_document_ref_id
        FROM sys_wfl_ref_approvers swra
        WHERE dr.id = swra.workflow_document_ref_id
        <!-- 当前审批人 -->
        <if test="lastApproverOid != null">
            AND  swra.approver_oid = #{lastApproverOid}
        </if>
        )
        <!-- 单据大类 -->
        <if test="documentCategory != null">
            AND dr.document_category = #{documentCategory}
        </if>
        <!-- 单据类型 -->
        <if test="documentTypeId != null">
            AND dr.document_type_id = #{documentTypeId}
        </if>
        <!-- 申请人 -->
        <if test="applicantName != null and applicantName != ''">
            AND dr.applicant_name LIKE #{applicantName}
        </if>
        <!-- 最小提交日期 -->
        <if test="beginDate != null">
            AND dr.submit_date >= #{beginDate}
        </if>
        <!-- 最大提交日期 -->
        <if test="endDate != null">
            <![CDATA[ AND dr.submit_date <= #{endDate} ]]>
        </if>
        <!-- -最小金额 -->
        <if test="amountFrom != null">
            AND dr.function_amount >= #{amountFrom}
        </if>
        <!-- 最大金额 -->
        <if test="amountTo != null">
            <![CDATA[ AND dr.function_amount <= #{amountTo} ]]>
        </if>
        <!-- 审批节点名称 -->
        <if test="approvalNodeName != null and approvalNodeName != ''">
            AND dr.approval_node_name like #{approvalNodeName}
        </if>
        <!-- 备注 -->
        <if test="remark != null and remark != ''">
            AND dr.remark like #{remark}
        </if>
        <!-- 单据编号 -->
        <if test="documentNumber != null and documentNumber != ''">
            AND dr.document_number like #{documentNumber}
        </if>
        ORDER BY dr.document_number ASC
    </select>
</mapper>
