<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.mdata.contact.persistence.ContactCardTempMapper">

    <insert id="confirmImport">
         INSERT INTO sys_contact_card_info
                      (id,
                       contact_card_oid,
                       user_oid,
                       card_type,
                       card_no,
                       first_name,
                       last_name,
                       nationality,
                       card_expired_time,
                       nationality_code,
                       primary_flag,
                       version_number,
                       deleted,
                       enabled,
                       created_date,
                       created_by,
                       last_updated_date,
                       last_updated_by)
                      SELECT
                        t.id,
                        t.contact_card_oid,
                        t.user_oid,
                        t.card_type,
                        t.card_no,
                        t.first_name,
                        t.last_name,
                        t.nationality,
                        t.card_expired_time,
                        t.nationality_code,
                        t.primary_flag,
                        1,
                        0,
                        t.enabled,
                        #{currentDate},
                        #{userId},
                        #{currentDate},
                        #{userId}
                        FROM sys_contact_card_import t
                       WHERE t.batch_number = #{transactionId}
                         AND t.error_flag = 0

    </insert>

    <update id="updateCardNoExists">
        UPDATE sys_contact_card_import t
        SET t.error_flag   = 1,
            t.error_detail = concat(error_detail,'本次导入存在相同证件号,请检查后重新导入!')
        WHERE EXISTS
             (SELECT 1
                FROM sys_contact_card_import t1
                WHERE t1.card_no = t.card_no
                AND t1.card_type = t.card_type
                AND t.batch_number = t1.batch_number
                AND t.id != t1.id)
        AND t.batch_number = #{batchNumber}
    </update>

    <select id="selectUserOidByEmployeeIdAndTenantId" resultType="java.util.UUID">
        SELECT c.user_oid
        FROM sys_contact c
        WHERE c.status = 1001
          AND c.tenant_id = #{tenantId}
          AND c.employee_id = #{employeeId}
    </select>


    <select id="queryInfo" resultMap="queryInfoMap">
        SELECT (SELECT
        COUNT(0) AS successEntities
        FROM sys_contact_card_import
        WHERE batch_number = #{transactionId}
        AND error_flag = 0) AS successEntities,
        (SELECT
        COUNT(0) AS failureEntities
        FROM sys_contact_card_import
        WHERE batch_number = #{transactionId}
        AND error_flag = 1) AS failureEntities,
        #{transactionId} AS transaction_id
        FROM dual

    </select>
    <resultMap id="queryInfoMap" type="com.hand.hcf.app.core.web.dto.ImportResultDTO">
        <result column="successEntities" property="successEntities"/>
        <result column="failureEntities" property="failureEntities"/>
        <collection property="errorData" select="queryErrorData"
                    column="{transactionId=transaction_id}"/>
    </resultMap>

    <select id="queryErrorData" resultMap="errorDataMap">
        select t.row_number AS rowNumber,
        t.error_detail AS error
        FROM sys_contact_card_import t
        WHERE t.batch_number = #{transactionId}
        AND t.error_flag = 1
    </select>
    <resultMap id="errorDataMap" type="com.hand.hcf.app.core.web.dto.ImportErrorDTO">
        <result column="rowNumber" property="index"/>
        <result column="error" property="error"/>
    </resultMap>

    <select id="varifyBatchNumberExists" resultType="java.lang.Boolean">
        SELECT 1
        FROM dual
        WHERE EXISTS (SELECT 1
          FROM sys_contact_card_import
          WHERE batch_number = #{transactionId})
    </select>

</mapper>
