<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.mdata.contact.persistence.ContactBankAccountMapper">
    <select id="checkBankCardNoExists" resultType="java.lang.Integer">
        select count(1) from sys_contact_bank_account cb,
        sys_contact u
        where u.user_oid=cb.user_oid
          and u.tenant_id=#{tenantId}
          and cb.bank_account_no=#{bankAccountNo}
    </select>
</mapper>
