<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.expense.input.persistence.ExpInputTaxLineMapper">
    <select id="listExpInputTaxLine" resultType="com.hand.hcf.app.expense.input.dto.ExpInputForReportLineDTO">
        select *
              from (SELECT null id,
                        #{headerId} inputTaxHeaderId,
                        (SELECT erh.REQUISITION_NUMBER
                            FROM EXP_REPORT_HEADER erh
                            WHERE erh.id = t.EXP_REPORT_HEADER_ID) documentNumber,
                        id expReportLineId,
                        (SELECT erh.APPLICANT_ID
                            FROM EXP_REPORT_HEADER erh
                            WHERE erh.id = t.EXP_REPORT_HEADER_ID) applicantId,
                        t.EXPENSE_TYPE_ID,
                        t.EXPENSE_DATE,
                        t.CURRENCY_CODE,
                        t.EXCHANGE_RATE rate,
                        t.AMOUNT reportAmount,
                        (select t.amount - coalesce(sum(coalesce(BASE_AMOUNT, 0)), 0)
                                from EXP_INPUT_TAX_LINE eitl
                                where eitl.EXP_REPORT_LINE_ID = t.id
                                and eitl.INPUT_TAX_HEADER_ID != #{headerId}
                                and exists
                                (select 1
                                    from EXP_INPUT_TAX_LINE tl, EXP_INPUT_TAX_HEADER th
                                    where tl.input_tax_header_id = th.id
                                    and tl.id = eitl.id
                                    and th.status in (1002, 1004))) ableAmount,
                        null baseAmount,
                        t.EXPENSE_DATE transferDate,
                        t.COMPANY_ID,
                        (SELECT erh.DEPARTMENT_ID
                            FROM EXP_REPORT_HEADER erh
                            WHERE erh.id = t.EXP_REPORT_HEADER_ID) DEPARTMENT_ID,
                        t.TENANT_ID,
                        t.SET_OF_BOOKS_ID,
                        t.DESCRIPTION
                    FROM EXP_REPORT_LINE t
                    WHERE t.SET_OF_BOOKS_ID = #{setOfBooksId}
                    and t.id not in
                        (select t2.EXP_REPORT_LINE_ID
                            from EXP_INPUT_TAX_LINE t2
                            where t2.INPUT_TAX_HEADER_ID = #{headerId})
                union all
                    select t3.id,
                        t3.INPUT_TAX_HEADER_ID inputTaxHeaderId,
                        (SELECT erh.REQUISITION_NUMBER
                            FROM EXP_REPORT_HEADER erh
                            WHERE erh.id = t4.EXP_REPORT_HEADER_ID) documentNumber,
                        t4.id expReportLineId,
                        (SELECT erh.APPLICANT_ID
                            FROM EXP_REPORT_HEADER erh
                            WHERE erh.id = t4.EXP_REPORT_HEADER_ID) applicantId,
                        t4.EXPENSE_TYPE_ID,
                        t4.EXPENSE_DATE,
                        t4.CURRENCY_CODE,
                        t4.EXCHANGE_RATE rate,
                        t4.AMOUNT reportAmount,
                        (select t4.amount - coalesce(sum(coalesce(BASE_AMOUNT, 0)), 0)
                            from EXP_INPUT_TAX_LINE eitl
                            where eitl.EXP_REPORT_LINE_ID = t4.id
                                and eitl.INPUT_TAX_HEADER_ID != #{headerId}
                                and exists
                                (select 1
                                    from EXP_INPUT_TAX_LINE tl, EXP_INPUT_TAX_HEADER th
                                    where tl.input_tax_header_id = th.id
                                    and tl.id = eitl.id
                                    and th.status in (1002, 1004))) ableAmount,
                        t3.base_amount,
                        t4.EXPENSE_DATE transferDate,
                        t4.COMPANY_ID,
                        t3.DEPARTMENT_ID,
                        t4.TENANT_ID,
                        t4.SET_OF_BOOKS_ID,
                        t4.DESCRIPTION
                    from EXP_INPUT_TAX_LINE t3, EXP_REPORT_LINE t4
                    where t3.EXP_REPORT_LINE_ID = t4.id
                      and t3.INPUT_TAX_HEADER_ID = #{headerId})
            where ableAmount > 0
                and exists (select 1
                            from exp_report_header h, exp_report_line l
                            where l.id = expReportLineId
                            and l.exp_report_header_id = h.id
                            and h.status = 1004)
                <if test="ew != null">
                    ${ew.sqlSegment}
                </if>
    </select>
    <select id="getSumAmount" resultType="com.hand.hcf.app.expense.input.dto.ExpInputTaxSumAmountDTO">
		select
	SUM(t.BASE_AMOUNT),
	SUM(t.BASE_FUNCTION_AMOUNT),
	SUM(t.AMOUNT),
	SUM(T.FUNCTION_AMOUNT)
	 from EXP_INPUT_TAX_LINE t where t.input_tax_header_id = #{inputTaxHeaderId}
	</select>

    <select id="listLineById" resultType="com.hand.hcf.app.expense.input.dto.ExpInputTaxLineDTO">
		select t.*,
               t2.EXPENSE_TYPE_ID,
               t3.name expenseTypeName,
               (SELECT erh.REQUISITION_NUMBER
                  FROM EXP_REPORT_HEADER erh
                 WHERE erh.id = t2.EXP_REPORT_HEADER_ID) documentNumber
          from EXP_INPUT_TAX_LINE t, EXP_REPORT_LINE t2, exp_expense_type t3
         where t.input_tax_header_id = #{inputTaxHeaderId}
           and t.exp_report_line_id = t2.id
           and t2.expense_type_id = t3.id
	</select>
</mapper>