<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2018. Shanghai Zhenhui Information Technology Co,. ltd.
  ~ All rights are reserved.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.base.user.persistence.UserLoginBindMapper">

    <resultMap id="UserLoginBindResultMap"
               type="com.hand.hcf.app.base.user.domain.UserLoginBind">
        <id column="id" property="id"/>
        <result column="user_oid" property="userOid"/>
        <result column="login" property="login"/>
        <result column="bind_type" property="bindType"/>
    </resultMap>
    <select id="findOneByUserOid" resultMap="UserLoginBindResultMap">
       SELECT
	  u.id,
      u.user_oid,
      u.bind_type,
      u.created_by,
      u.created_date
      FROM
     	sys_user_login_bind u
     WHERE
         u.user_oid = #{userOid}
      and u.is_active=1
  and u.enabled=1
  and  u.deleted=0
    </select>
</mapper>
