<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.expense.type.persistence.ExpenseTypeMapper">

    <select id="listByCategoryIdAndTypeFlag" resultType="com.hand.hcf.app.expense.type.domain.ExpenseType">

        select * from exp_expense_type et
        where et.type_category_id = #{categoryId}
        and et.type_flag = #{typeFlag, jdbcType=INTEGER}
        AND et.deleted = 0
        order by et.sequence asc
    </select>

    <select id="queryByCondition" resultType="com.hand.hcf.app.expense.type.domain.ExpenseType">
        select et.*, eetc.name as typeCategoryName from exp_expense_type et ,exp_expense_type_category eetc
        where et.type_category_id = eetc.id
          and et.deleted = 0
        ${ew.sqlSegment}
    </select>

    <select id="getTypeById" resultType="com.hand.hcf.app.expense.type.domain.ExpenseType">
         select et.*, eetc.name as typeCategoryName from exp_expense_type et ,exp_expense_type_category eetc
        where et.type_category_id = eetc.id
          and et.id = #{id}
          and et.deleted = 0
          order by et.sequence asc
    </select>


    <select id="queryLovByDocumentTypeAssign" resultType="com.hand.hcf.app.expense.type.domain.ExpenseType">
        SELECT t.*
        FROM exp_expense_type t
        WHERE t.type_flag = #{typeFlag}
          AND t.set_of_books_id = #{setOfBooksId}
          AND t.enabled = 1
          AND t.deleted = 0
        <if test="code != null and code !=''">
          AND t.code LIKE concat(concat('%', #{code}), '%')
        </if>
        <if test="name != null and name !=''">
          AND t.name LIKE concat(concat('%', #{name}), '%')
        </if>
        <if test="typeCategoryId != null ">
            AND t.type_category_id = #{typeCategoryId}
        </if>
        <choose>
            <when test="range == 'all'">
              <!-- 全选 -->
              AND 1 = 1
            </when>
            <when test="range == 'selected'">
                <if test="documentType == 801006">
                  <!-- 费用调整单类型  选择的-->
                  AND EXISTS (select 1 from exp_adjust_type_assign_e_t a where a.exp_adjust_type_id = #{documentTypeId} and a.exp_expense_id = t.id)

                </if>
                <if test="documentType == 801001">
                    <!-- 报账单类型  已选的费用类型-->
                    AND EXISTS (select 1 from exp_report_type_expense_type ertet where ertet.report_type_id = #{documentTypeId} and ertet.expense_type_id = t.id)

                </if>
            </when>
            <otherwise>
                <if test="documentType == 801006">
                  <!-- 费用调整单类型 未选的-->
                    AND NOT EXISTS (select 1 from exp_adjust_type_assign_e_t a where a.exp_adjust_type_id = #{documentTypeId} and a.exp_expense_id = t.id)
                </if>
                <if test="documentType == 801001">
                    <!-- 报账单类型  未选的费用类型-->
                    AND NOT EXISTS (select 1 from exp_report_type_expense_type ertet where ertet.report_type_id = #{documentTypeId} and ertet.expense_type_id = t.id)

                </if>
            </otherwise>
        </choose>
    </select>
    
    
    <select id="listByExpenseTypesAndCond" resultType="com.hand.hcf.app.common.co.BasicCO">
        SELECT * FROM (
        SELECT t.*
        FROM exp_expense_type t
        WHERE
         t.type_flag = 1
        <if test="setOfBooksId !=null ">
            AND t.set_of_books_id = #{setOfBooksId}
        </if>
        <if test="tenantId != null ">
            AND t.tenant_id = #{tenantId}
        </if>
        ) et
        <where>
            <if test="enabled != null">
                AND et.enabled = #{enabled}
            </if>
            <if test="code != '' and code !=null">
                AND et.code LIKE concat('%', concat(#{code,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="name != '' and name !=null">
                AND et.name LIKE concat('%', concat(#{name,jdbcType=VARCHAR}, '%'))
            </if>
        </where>
        order by et.code asc
    </select>
    <select id="listByDocumentLov" resultMap="ExpenseTypeWebMap" parameterType="com.hand.hcf.app.expense.type.bo.ExpenseBO">
        SELECT
            temp.*,(select name  from exp_expense_type_category eetc where eetc.id = temp.type_category_id) type_category_name
        FROM
            (SELECT
                v.*,
                0 AS user_group_flag,
                NULL AS user_type_id
            FROM
                (SELECT
                    *
                FROM
                    exp_expense_type t
                WHERE
                    t.set_of_books_id = #{setOfBooksId}
                    AND EXISTS (
                        SELECT
                            1
                        FROM
                            exp_expense_type_company ec
                        WHERE
                            ec.expense_type_id = t.id
                            AND ec.company_id = #{companyId}
                    )
                UNION
                ALL                 SELECT
                    *
                FROM
                    exp_expense_type t
                WHERE
                    t.set_of_books_id = #{setOfBooksId}
                    AND NOT EXISTS                  (
                        SELECT
                            1
                        FROM
                            exp_expense_type_company ec
                        WHERE
                            ec.expense_type_id = t.id
                    )
                ) v
            WHERE
                (
                    EXISTS (
                        SELECT
                            1
                        FROM
                            exp_expense_type_user eu
                        WHERE
                            eu.apply_type = '102'
                            AND eu.expense_type_id = v.id
                            AND eu.user_type_id = #{departmentId}
                    )
                    OR NOT EXISTS                 (
                        SELECT
                            1
                        FROM
                            exp_expense_type_user eu
                        WHERE
                            eu.expense_type_id = v.id
                    )
                )
            UNION ALL
            SELECT
                v.*,
                1 as user_group_flag,
                eu.user_type_id
            FROM
                (SELECT
                    *
                FROM
                    exp_expense_type t
                WHERE
                    t.set_of_books_id = #{setOfBooksId}
                    AND EXISTS (
                        SELECT
                            1
                        FROM
                            exp_expense_type_company ec
                        WHERE
                            ec.expense_type_id = t.id
                            AND ec.company_id = #{companyId}
                    )
                UNION ALL
                SELECT
                    *
                FROM
                    exp_expense_type t
                WHERE
                    t.set_of_books_id = #{setOfBooksId}
                    AND NOT EXISTS                  (
                        SELECT
                            1
                        FROM
                            exp_expense_type_company ec
                        WHERE
                            ec.expense_type_id = t.id
                    )
                ) v,                exp_expense_type_user eu
            WHERE
                v.id = eu.expense_type_id
                AND eu.apply_type = '103'
        ) temp
        WHERE
        temp.enabled = 1
        AND temp.deleted = 0
        AND temp.type_flag = #{typeFlag}
        <if test="categoryId != null">
            AND temp.type_category_id = #{categoryId}
        </if>
        <if test="expenseTypeName != null and expenseTypeName != ''">
            AND temp.name like concat(concat('%', #{expenseTypeName}),'%')
        </if>
        <if test="allFlag != null and !allFlag">
            <if test="assignTypeIds != null and assignTypeIds.size > 0">
                AND temp.id in
                <foreach collection="assignTypeIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </if>
    </select>

    <select id="queryExpenseTypeIdByExpenseTypeCode" resultType="java.lang.Long">
        SELECT t.id
        FROM exp_expense_type t
        WHERE t.type_flag = 1
        AND t.set_of_books_id = #{setOfBooksId}
        AND t.enabled = 1
        AND t.deleted = 0
        AND t.code = #{expenseTypeCode}
    </select>
    <select id="queryApplicationTypeIdByApplicationTypeCode" resultType="java.lang.Long">
        SELECT t.id
        FROM exp_expense_type t
        WHERE t.type_flag = 0
        AND t.set_of_books_id = #{setOfBooksId}
        AND t.enabled = 1
        AND t.deleted = 0
        AND t.code = #{applicationTypeCode}
    </select>

    <select id="selectExpenseByCode" resultType="com.hand.hcf.app.expense.type.domain.ExpenseType">
        select  eet.id,eet.code,eet.name,eetc.name categoryName from  exp_expense_type_category eetc , exp_expense_type eet
        where  eetc.id=eet.type_category_id
        AND   eet.ENABLED = 1
        <if test="code !=null ">
            AND eet.code like concat(concat('%',#{code}),'%')
        </if>
        <if test="name != null ">
            AND eet.name like concat(concat('%',#{name}),'%')
        </if>
        <if test="categoryName != null ">
            AND eetc.name like concat(concat('%',#{categoryName}),'%')
        </if>
        <if test="setOfBooksId != null ">
            AND eet.set_of_books_id = #{setOfBooksId}
        </if>

    </select>


    <resultMap id="ExpenseTypeWebMap" type="com.hand.hcf.app.expense.type.web.dto.ExpenseTypeWebDTO">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result property="iconUrl" column="icon_url"/>
        <result property="code" column="code"/>
        <result property="setOfBooksId" column="set_of_books_id"/>
        <result property="typeCategoryId" column="type_category_id"/>
        <result property="entryMode" column="entry_mode"/>
        <result property="priceUnit" column="price_unit"/>
        <result property="enabled" column="enabled"/>
        <result property="sequence" column="sequence"/>
        <result property="iconName" column="icon_name"/>
        <result property="sourceTypeId" column="source_type_id"/>
        <result property="applicationModel" column="application_model"/>
        <result property="contrastSign" column="contrast_sign"/>
        <result property="amount" column="amount"/>
        <result property="travelTypeCode" column="travel_type_code"/>
        <result property="userGroupFlag" column="user_group_flag"/>
        <result property="typeCategoryName" column="type_category_name"/>
        <collection property="userGroupIds" ofType="java.lang.Long">
            <result column="user_type_id"/>
        </collection>
    </resultMap>
</mapper>
