<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.auth.persistence.UserMapper">


    <select id="listDtoByQO" parameterType="com.hand.hcf.app.auth.dto.UserQO" resultType="com.hand.hcf.app.auth.dto.UserDTO">
        SELECT
        u.id,
        u.user_oid,
        u.login,
        u.activated,
        u.status,
        u.language,
        u.password_hash password,
        u.deleted,
        u.tenant_id,
        u.lock_status,
        u.lock_date_deadline,
        u.user_name,
        u.email,
        u.mobile,
        u.remark
        FROM sys_user u
        <if test="loginBind != null and loginBind!=''">
          left JOIN sys_user_login_bind b on b.user_oid=u.user_oid
        </if>
        WHERE
          1=1
          <if test="id != null">
            AND u.id = #{id}
          </if>
          <if test="userOid != null">
            AND u.user_oid = #{userOid}
          </if>
          <if test="login != null and login!=''">
            AND u.login = #{login}
          </if>
          <if test="loginBind != null and loginBind!=''">
            AND b.enabled = true
            and b.is_active =  true
            AND b.deleted = false
            AND b.login = #{loginBind}
          </if>
          <if test="mobile != null and mobile!=''">
            AND u.mobile = #{mobile}
          </if>
          <if test="email != null and email!=''">
            AND u.email = #{email}
          </if>
    </select>

    <update id="updateUserLockStatus" parameterType="com.hand.hcf.app.auth.dto.UserDTO">
        UPDATE sys_user set
          lock_status = #{lockStatus} ,
          lock_date_deadline = #{lockDateDeadline} ,
          password_attempt = #{passwordAttampt},
          last_update_date=#{lastUpdatedDate},
          version_number=version_number+1
        where id = #{userId}
    </update>

    <select id="countLoginBind" resultType="java.lang.Integer">
       select count(1) from sys_user_login_bind b
       where b.user_oid=#{userOid}
       and b.is_active=true
    </select>

    <select id="listLastPasswordDate" resultType="java.time.ZonedDateTime">
        SELECT created_date FROM sys_password_history
        WHERE user_oid=#{userOid}
        order by created_date desc
    </select>
</mapper>
