<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. Shanghai Zhenhui Information Technology Co,. ltd.
  ~ All rights are reserved.
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hcf.app.auth.persistence.UserLockMapper">

    <select id="selectUserLockMap" resultType="java.util.Map">
        SELECT u.id user_id, ul.locked_date locked_date FROM sys_user_lock ul
        INNER JOIN sys_user u ON ul.user_id = u.id
        WHERE u.deleted = false
        and ul.deleted = false
    </select>



</mapper>
